HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### OS-specific files ###
.DS_Store
Thumbs.db

### IDE and editor specific files ###
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz

### Configuration files with sensitive information ###
application.properties
application-local.properties
application-dev.properties
application-qa.properties
application-prod.properties

### Docker Compose ###
docker-compose.yml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
